body {
  margin: auto 0;
}

.zone {
  cusor: pointer;
  color: #FFF;
  font-size: 2em;
  border-radius: 4px;
  border: 1px solid #bbb;
  transition: all 0.3s linear;
}



/* NAV */
.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
}

.push {
  margin-left: auto;
}

li {
  padding: 20px;
}

a {
  color: #4da538;
  text-decoration: none;
}
